@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

*,
*::before,
*::after {
  font-family: 'Moderustic', sans-serif;
}

html {
  font-size: clamp(14px, calc(14px + 0.4vw), 18px);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  min-height: 100dvh;
  @apply bg-stone-950;
}

body {
  @apply m-0 p-0 text-stone-300;
}

input,
textarea,
select,
button,
[popover] {
  @apply text-stone-300;
}

main {
  @apply mx-auto py-4;
  width: min(calc(100% - 2rem), 1024px);
}

input:is([type='text'], [type='email'], [type='password'], [type='number']),
textarea {
  @apply bg-stone-950 border border-stone-700 outline-none p-2 transition-all rounded-lg;
  &:focus {
    @apply border-stone-500;
  }
  &::placeholder {
    @apply text-stone-600;
  }
  &:auto-fill {
    @apply bg-transparent;
  }
}

textarea {
  @apply h-auto;
}

select {
  @apply text-stone-300 bg-transparent outline-none border border-stone-600 rounded py-2;
  &:focus {
    @apply border-stone-100;
  }
  &::placeholder {
    @apply text-stone-700;
  }
}

option {
  @apply text-stone-300 bg-stone-900 shadow-lg p-4;
}

button {
  &:hover {
    @apply text-stone-100;
  }
  &:disabled {
    @apply opacity-50 pointer-events-none;
  }
}
